In [63]:
import pandas as pd
import numpy as np
import csv
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

In [2]:
from google.colab import files
uploaded = files.upload()

Saving FoodBalanceSheets_E_Africa_NOFLAG.csv to FoodBalanceSheets_E_Africa_NOFLAG.csv

In [3]:
df = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding='latin-1')

# Overview of the dataset

In [4]:
# first five rows
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [5]:
# shape of the data
df.shape

(60943, 12)

In [6]:
df.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

# Questions about the data

#### total number and percentage of missing data in 2014 to 3 decimal places

In [8]:
no_of_missing_data = df['Y2014'].isnull().sum()
percent_of_missing_data = (df['Y2014'].isnull().sum()/df.shape[0])*100

print('The total number of missing data in 2014 is: ', no_of_missing_data)
print('The total % of missing data in 2014 is: ', round(percent_of_missing_data, 3), '%')

The total number of missing data in 2014 is:  1589
The total % of missing data in 2014 is:  2.607 %

#### no of rows and columns

In [96]:
print('The total number of rows and columns are:', df.shape[0], 'rows and', df.shape[1], 'columns')

The total number of rows and columns are: 60943 rows and 12 columns

#### year with the least correlation with ‘Element Code’

In [10]:
df.corr()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area Code,1.000000,-0.005159,-0.000209,0.006164,0.005472,0.005247,0.005006,0.005665
Item Code,-0.005159,1.000000,-0.024683,0.021722,0.020857,0.020109,0.021494,0.021314
Element Code,-0.000209,-0.024683,1.000000,0.024457,0.023889,0.023444,0.024254,0.024279
Y2014,0.006164,0.021722,0.024457,1.000000,0.994647,0.996081,0.995230,0.994872
Y2015,0.005472,0.020857,0.023889,0.994647,1.000000,0.995739,0.988048,0.988208
Y2016,0.005247,0.020109,0.023444,0.996081,0.995739,1.000000,0.992785,0.992757
Y2017,0.005006,0.021494,0.024254,0.995230,0.988048,0.992785,1.000000,0.998103
Y2018,0.005665,0.021314,0.024279,0.994872,0.988208,0.992757,0.998103,1.000000

In [11]:
print("The year 2016 has the least correlation with 'Element Code'")

The year 2016 has the least correlation with 'Element Code'

#### the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places

In [12]:
mean17 = df['Y2017'].mean()
std17 = df['Y2017'].std()

print('The mean of the year 2017 across the whole dataset to 2 decimal places is: ', round(mean17, 2))
print('The standard deviation of the year 2017 across the whole dataset to 2 decimal places is: ', round(std17, 2))

The mean of the year 2017 across the whole dataset to 2 decimal places is:  140.92
The standard deviation of the year 2017 across the whole dataset to 2 decimal places is:  1671.86

#### Area with the 7th lowest sum in 2017

In [13]:
area_group = df.groupby('Area')['Y2017'].sum().sort_values(ascending=True).reset_index()
seventh_lowest = area_group.iloc[6,0]

print('The Area with the 7th lowest sum in 2017 is: ', seventh_lowest)

The Area with the 7th lowest sum in 2017 is:  Guinea-Bissau

#### year with the highest sum of Stock Variation

In [36]:
element_group = df.groupby('Element')['Y2014','Y2015','Y2016','Y2017','Y2018'].sum()
element_data = element_group.loc['Stock Variation',:].reset_index()
element_data

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

   index  Stock Variation
0  Y2014         58749.83
1  Y2015         34910.99
2  Y2016         33140.12
3  Y2017         54316.91
4  Y2018         20577.91

In [15]:
print('The year with the highest sum of Stock Variation is 2017')

The year with the highest sum of Stock Variation is 2017

####  Area with the highest sum in 2017

In [97]:
area_group = df.groupby('Area')['Y2017'].sum().sort_values(ascending=False).reset_index()
area_with_highest_sum = area_group.iloc[0,0]

print('The Area with the highest sum in 2017 is:', area_with_highest_sum)

The Area with the highest sum in 2017 is: Nigeria

####  The total number of the sum of Processing in 2017

In [45]:
element_group = df[df['Element'] == 'Processing'].groupby('Element')['Y2017'].sum()
print('The total number of the sum of Processing in 2017 is: ', element_group[0])

The total number of the sum of Processing in 2017 is:  292836.0

####  Total sum of Wine produced in 2015 and 2018

In [65]:
wine_group = df[df['Item'] == 'Wine'].groupby('Item')['Y2015', 'Y2018'].sum()
wine14 = wine_group.iloc[0,0]
wine17 = wine_group.iloc[0,1]
print('The total sum of Wine produced in 2015 and 2018 are', wine14, 'and', wine17, 'respectively.')

The total sum of Wine produced in 2015 and 2018 are 4251.81 and 4039.32 respectively.

#### Total number of unique countries

In [75]:
print('The total number of unique countries is:', len(df['Area'].unique()))

The total number of unique countries is: 49

#### Total Protein supply quantity in Madagascar in 2015

In [95]:
madagascar_table = df[df['Area']=='Madagascar'].groupby('Element')['Y2015'].sum().reset_index()

protein_qty = madagascar_table[madagascar_table['Element'] == 'Protein supply quantity (g/capita/day)'].iloc[0,1]

print('The total Protein supply quantity in Madagascar in 2015 is', protein_qty)

The total Protein supply quantity in Madagascar in 2015 is 173.05